# Copy ke Vercel Environment Variables (Production + Preview)

GOOGLE_CREDENTIALS_JSON={"type":"service_account","client_email":"xxx@yyy.iam.gserviceaccount.com","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"}

SHEET_DEBIT=1P5EQlpQ-EJOuVIUq52Jow1ciH0-vQKLAHT1xuwflKQo
SHEET_UE=1fN29bqYn-50zJRLp7pUGbU3p-SOh2aW6UKQgKOYfH_Q
SHEET_KK=17Bgbn5ksCbYYDnMpbR8YmvewktN5bb7LxcygbI863Uc
SHEET_ACQUIRER_TRX=1dyII_IIERsu6hol9A_H_PxObR-IxWMJ5SslCCL3i4YM
SHEET_FRAUD_BANK=1HhG0BaKGhXVRYWZOEAC7xpu_yZQzYs6QpprS5PgQAos
SHEET_FRAUD_PENYEBAB=1-W66gED-CtO2ajbTtFrjXrZsfAP6bMe0-hkOrkxrpAw
SHEET_PROP_CHANNEL=1l4byNkuyyTtMmdT7VSMDFB326GX0bqN02mbc3YMWgRE
